* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-image: url("https://source.unsplash.com/1600x900/?landscape");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.caixa-maior {
    background-color: rgba(27, 27, 27, 0.521);
    width: 100%;
    max-width: 430px;
    padding: 25px;
    border-radius: 25px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

input {
    border: none;
    outline: none;
    padding: 15px;
    border-radius: 20px;
    font-size: 22px;
    font-weight: bold;
}

button {
    border-radius: 50px;
    padding: 5px;
    background-color: transparent;
    cursor: pointer;

}

button:hover {
    background-color: rgba(0, 0, 0, 0.233);
}

img {
    height: 25px;
}

.caixa-media {
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    line-height: 30px;
    text-transform: capitalize;
}

.city-country {
    display: flex;
}


.caixa-media p, span {
    font-size: 22px;
    font-weight: bold;
}

.caixa-media img {
    width: 64px;
    height: 64px;
}

.contain {
    display: flex;
    gap: 40px;
}

@media (max-width: 470px) {
    .caixa-maior {
        width: 90%;
    }
    input {
        max-width: 70%;
    }
}

@media (max-width: 350px) {
    .caixa-media h2 {
        font-size: 20px;

    }
    .caixa-media p {
        font-size: 18px;
        text-align: center;
    }
}